<div id="top" class="container">
	<h1>Create Room</h1>
<!-- <form name="userForm" ng-submit="save(user)"> -->

	<div class="form-group">
		<input class="form-control" ng-model="playlist.title" placeholder="Title">
	</div>

	<div class="form-group">
<textarea class="form-control" ng-model="playlist.description" placeholder="Describe your room!" title="description"></textarea>
    <button type="submit" class="btn btn-default pull-right" ng-click="createPlaylist()">
    Create Playlist
  </button>


  </div>
	<div class="form-group">
		<div class="center-block" ng-show="!videoId.length">
			Choose a song to start off your playlist! (required)
			<div>
        <form>
				<input type="text" ng-model="query" />
				<button type="button" class="btn btn-default" ng-click="search(query)">Search</button>
        </form>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-12" id="search-results">
			<ul class="unstyled">
				<li class="result col-lg-3" ng-repeat="result in searchResults">
					<a ng-click="addVideo(result.id.videoId)">
					<img src="http://img.youtube.com/vi/{{result.id.videoId}}/default.jpg" />
					<p>{{result.snippet.title}}</p>
          <div class="added-message bg-success" id="{{result.id.videoId}}">Added to playlist</div>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<button type="submit" class="btn btn-default pull-right" ng-click="createRoom()">
		Let's Party
	</button>
</div>
