<div class="container">
	<div class="row">
		<div class="col-lg-9" id ="top">
			<div class="party"><h1>Party: {{playlist[0].snippet.title}}</h1></div>
			<div class="creator"><h4>Creator of this Awesome Party: {{creator.google.displayName}}</h4></div>
	      <div class="panel panel-default">
	      	<div id="player" class="center-block" ng-show="isCreator()"></div>
	      </div>
	      <h3 class="party" ng-show="!isCreator()">Now Playing: {{current.title}}</h3>
		    <div class="panel panel-default">
	      <h4>Opinion</h4>
		    <progress>
		    	<bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}">
		    		{{bar.value}}%
		    	</bar>
		    </progress>
		    	<h4>Give some feedback</h4>
		    	<button type="button" class="btn btn-primary btn-lg btn-upvote" ng-click="increment(2)">Woo!</button>
		    	<button type="button" class="btn btn-primary btn-lg btn-downvote" ng-click="increment(-2)">Boo!</button>
		    </div>
		    <div class="panel panel-default">
		      <h4>People Partying:</h4>
		      <span ng-repeat="user in users">{{user}}!  </span>
	        </div>
		</div>
      <button ng-if="currentUser.remote === false && !isCreator()" id='remote-button' type='button' class='btn btn-info' ng-click='setRemoteUser()'>I want to sing remotely</button> {{currentUser.remote}}
<!--       <p ng-if='currentUser.remote === true'>Click on the icon to the right of the song to set yourself as the remote singer of that song!</p> -->
		<div class="col-sm-3" id = "top" class="queue">
			<div class="party"><h1>Queue</h1></div>
      <div class="scrollable">
			<ul class="list-unstyled">
				<li class="queue-item" ng-repeat="video in queue" ng-class="video.status">
					<button type="button" class="close pull-left" ng-click="removeFromPlaylist(video)" ng-show="isCreator()">&times; </button>
					{{video.title}}
          <button type='button' ng-if="currentUser.remote === false && !isCreator()" ng-click='setRemoteSong($index)'>Sing</button>
				</li>
			</ul>
    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9">
			<div class="panel panel-info">
				<div class="panel-heading"><h4>Search for more additions to the playlist</h4></div>
				<form class="form-inline search" id="center" ng-submit="search(query)">
					<input type="text" class="form-control" ng-model="query"/>
					<button class="btn btn-default">Search</button>
				</form>
			</div>
			<div class="col-lg-12" id="search-results">
        <div class= "scrollable-width">
				<ul class="unstyled">
					<li class="result col-lg-3" ng-repeat="result in searchResults">
						<a ng-click="addToPlaylist(result.id.videoId)">
						<img src="http://img.youtube.com/vi/{{result.id.videoId}}/default.jpg" />
						<p>{{result.snippet.title}}</p>
						<div class="added-message bg-success" id="{{result.id.videoId}}">Added to playlist</div>
						</a>
					</li>
				</ul>
        </div>
			</div>
		</div>
	</div>
</div>
